html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
}


h2 {
    color: darkslateblue;
}

h4 {
    color: darkslateblue;
}

p {
    color: darkgray
}

.property {
    line-height: 40%;
    margin-left: 5%;
}

.weightNormal {
    font-weight: normal;
}
.weightBold {
    font-weight: bold;
}

.styleNormal {
    font-style: normal;
}

.styleItalic {
    font-style: italic;
}

.spacingNormal {
    letter-spacing: normal;
}

.spacingWide {
    letter-spacing: .3em;
}

.spacingNarrow {
    letter-spacing: -.1em;
}

.decorationNone {
    text-decoration: none;
}

.decorationUnderline {
    text-decoration: underline;
}

.decorationLineThrough {
    text-decoration: line-through;
}

.decorationOverline {
    text-decoration: overline;
}

.transformNone {
    text-transform: none;
}

.transformUppercase {
    text-transform: uppercase;
}

.transformLowercase {
    text-transform: lowercase;
}

.transformCapitalize {
    text-transform: capitalize;
}

